<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <% @posts.each do |post| %>
    <div class="card bg-light">
      <%= image_tag post.image.url(:large), class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>
      </div>
      <div class="card-body">
        <div class="row p-2">
          <button class="btn btn-lg btn-danger btn-block col-12">Bid</button>
        </div>
        <div class="row p-2">
          <button class="btn btn-lg btn-success btn-block col-12">Buy Now</button>
        </div>
        <div class="row p-2">
          <button class="btn btn-lg btn-info btn-block col-12">More Info</button>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>



 