/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

body {
   background-image: image-url('clean_textile.png');
   background-repeat: repeat;
//    background-color: #cccccc;
}

// .main-content {
//     margin-top: 70px;
// }

.add-margin {
    margin-left: 10px;
}

.feed { 
    display: flex;
    justify-content: center;
}

a.view-hover:hover {
    color: white !important;
}

.card {
    max-width: 800px;
    margin: 10px;
}

.card-title {
    font-size: 1.5em !important;
}

.card-text {
    font-size: 1.1em !important;
}
